* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: grid;
    grid-template-columns: 25% 80%;
}

#navbar {
    display: flex;
    flex-direction: column;
}

#nav-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 10px;
}

.nav-list {
    display: flex;
    flex-direction: column;
}

.nav-list-item {
    display: flex;
    margin-left: 15px;
    margin-bottom: 15px;
    gap: 15px;
}

.nav-list-text {
    font-size: 20px;
}