* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: grid;
    grid-template-columns: 20% 80%;
}

#navbar {
    display: flex;
    flex-direction: column;
}

#navtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 10px;
}