* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
}

#navbar {
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

#nav-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px;
    gap: 15px;
}

.nav-list {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.nav-list-item, .header-search {
    display: flex;
    margin-left: 15px;
    margin-bottom: 15px;
    gap: 15px;
}

.nav-list-text, .header-text {
    font-size: 20px;
}

#content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#header {
    display: grid;
    grid-template-columns: 65% 35%;
    margin: 28px 15px 15px 15px;
}

#header-search-box {
    display: flex;
    width: 90%;
    border-radius: 15px;
}

#user-header-tools {
    display: flex;
    align-items: center;
    margin-left: 15px;
    gap: 15px;
}

#user-header-welcome {
    display: flex;
    align-items: center;
    gap: 10px;
}

#header-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.header-buttons {
    padding: 5px;
    margin: 5px;
    width: auto;
    height: 35px;
    border: 2px solid grey;
    border-radius: 15px;
}

#user-area {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-left: 15px;
}

#projects-container {
    display: flex;
    flex-direction: column;
}

#projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
    gap: 25px;
}

.project-grid-item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 15px;
    text-align: justify;
    max-width: 250px;
    font-size: 20px;
    border-left: 8px solid blue;
}

#profile-principal-img {
    height: 60px;
    width: 60px;
    padding: 0px;
}

.profile-img {
    padding: 2px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid grey;
}